<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fitz Forecast</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
                
            .subtitle {
                font-size: 24px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Fitz Forecast
                    </h1>
                    <h2 class="subtitle">
                        A planning app for food manufacturers
                    </h2>
                </div>
            </div>
        </section>
        <section class="section has-background-grey-lighter">
            <div class="container">
                To be an "overview & welcome" page once logged in
                <div class="content">
                    <br>
                    <a class="button is-black is-outlined" href="{% url 'planning' %}">Create and View the Plan</a>
                    <a class="button is-black is-outlined" href="{% url 'reports' %}">View Reports</a>
                </div>
                <div class="content">
                    {% for sales in grosssales|slice:":5" %}
                        <strong>{{ sales.customer }}</strong>'s Plan for {{ sales.date }} was updated on {{ sales.time_stamp }}<br>
                        <div class="content">
                            {{ sales.product }}: <strong>${{ sales.gross_sales }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </body>
</html>