<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fitz Forecast</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }

            .hero.is-primary {
                background-color: #209CEE;
            }

            .subtitle {
                font-size: 24px;
                font-weight: bold;
            }
        </style>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>

    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Fitz Forecast
                    </h1>
                    <h2 class="subtitle">
                        A planning app for food manufacturers
                    </h2>
                </div>
            </div>
            <div class="mt-5" class="container">
                <a href="{% url 'index' %}" class="button is-light">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Back to Index</span>
                </a>
            </div>
        </section>
        <section class="section has-background-grey-lighter">
            <h1 class="title is-1">Sales by Product</h1>
            <div><canvas id="myChart"></canvas></div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: product_sales.product,
                        datasets: [{
                            label: 'Gross Sales',
                            data: product_sales.gross_sales,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </section>
    </body>
</html>